body {
	background: url('/static/images/back.jpg');
	cursor: url('/static/images/gear.cur'),auto;
	font-family: Comic Sans MS;
}

.top{
	text-align: center;
}

.header {
	height: 92px;
	width: 92px;
}

#logo {
	width: 500px;
}

#copy {
	text-align: center;
	font-size: 10px;
	clear: both;
}

.paymentForm {
	background: yellow;
	text-align: center;
	margin: auto;
	width: 42%;
	border: 2px solid black;
	padding: 10px;
}