<!doctype html>
<html>
	<head>
		<title>System Re-Store - Info</title>
		<link rel='stylesheet' href='{{ url_for('static', filename='css/info.css') }}'>
	</head>
	<body>
		<h1 class='top'>
			<a href="{{ url_for('home') }}"><img id='logo' src='{{ url_for('static', filename='images/logo.png') }}' alt='System Re-Store'></a>
		</h1>
		<p class='top'>your one-stop shop for all things vintage</p> 
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<img class='header' src='{{ url_for('static', filename='images/gear.gif') }}' alt='Gear'>
		<a id='cart' href='{{ url_for('cart') }}'>
			<img class='header' align='right' src='{{ url_for('static', filename='images/cart.gif') }}' alt='Shopping Cart'>
		</a>  
		<br>
		<a href="#" onclick='history.back();return false'><img src='{{ url_for('static', filename='images/back.gif') }}' alt='Back'></a>
		
		<div class="container">
				<div class="item">
					<img class='imgs' src='{{ url_for('static', filename=item[0]) }}'>
				</div>
				<div class="item">
					<p class="text2"><b>{{ item[2] }}</b></p>
					<p class="text2">{{ item[3] }}</p>
					{% if item[4] is not none %}
						<p class="text2">{{ item[4] }}</p>
					{% endif %}
					{% if item[5] is not none %}
						<p class="text2">{{ item[5] }}</p>
					{% endif %}
					<p class="text1">${{ item[1] }}</p>
					<form method="post" action="{{ url_for('cart') }}">
						<input name={{ prod }} type="submit" value="Add To Cart">
					</form>
				</div>
			</div>
		</div>
		<br>
		<p id='copy'>Copyright (c) 2023 System Re-Store. All Rights Reserved.</p>
	</body>
</html>